<div class="pagecontainer">
  <h2>Page-1</h2>

  <p>
    <a href="https://github.com/mastefano64/AppPlanimetrie/blob/main/src/app/component/page01/page01.component.html" target="_blank">
      page01.component.html
    </a>
    &nbsp;&nbsp;
    <a href="https://github.com/mastefano64/AppPlanimetrie/blob/main/src/app/component/page01/page01.component.ts" target="_blank">
      page01.component.ts
    </a>
  </p>

  <div class="panelButtons">
    <button mat-flat-button color="primary" (click)="onZoomIncrement()">+</button>&nbsp;
    <button mat-flat-button color="primary" (click)="onZoomDecrement()">-</button>&nbsp;
    <button mat-flat-button color="primary" (click)="onResetZoom()">reset</button>&nbsp;
  </div>

  <app-floor-plans-map [options]="options" #floorplans>
  </app-floor-plans-map>
</div>
